{% extends 'base.html.twig' %}

{% block title %}Validation - Stellantis{% endblock %}

{% block body %}
    <div class="p-5 text-center">
        <h3>Merci pour votre retour.</h3>
        <p>Vous pouvez refaire un essai ou profiter de l'évènement.</p>
    </div>
{% endblock %}
