{% extends 'base.html.twig' %}

{% block title %}Validation - Stellantis{% endblock %}

{% block body %}
    <div class="p-5 text-center">
        <h3>Merci pour votre inscription.</h3>
        <p>Vous recevrez votre invitation par mail très prochainement ! </p>
    </div>
{% endblock %}
