{% extends 'base.html.twig' %}

{% block title %}Validation - Stellantis{% endblock %}

{% block body %}
    <div class="p-5 text-center">
        <h3>Merci pour votre inscription.</h3>
        <p>Vous recevrez votre invitation par mail très prochainement ! </p>

        <a href="{{ path('app_login') }}" class="btn btn-primary btn-md rounded-pill" role="button">Je me connecte</a>
    </div>
{% endblock %}
